.titulo{
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
    background-color: rgb(255, 255, 255,0.301);
}
.titulo h1{
    font-size: 100px;
}
.titulo h4{
    font-size: 50px;
}
.navbar{
    background-color:#FA8D34;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}
body{
    font-family: 'Caveat Brush', cursive;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
h5{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.contato, h6{
    text-align: center;
    font-size: 30px;
}
.carousel-inner{
    width: 80%;
    margin-left: 140px;
}
hr{
    margin-top: 80px;
}
.cardapio, .contato{
    background-color: rgba(255, 255, 255, 0.301);
}
footer{
    background-color: #FA8D34;
    text-align: center;
    margin-top: 80px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}